.product-continer{
    padding: 0px 2em;
    .product{
        border-radius: 7px !important;
        height: auto;
        background: #fff;
        border-radius: 3px;
        box-shadow: 1px 0px 20px #dddddd20;
        margin-top: 20px;
        >div{
            flex-direction: column;
        }
        .img-continer{
            display: block;
            width: 100%;
            img{
                width: 100%;
                height: 200px;
                border-top-right-radius: 7px;
                border-top-left-radius: 7px;
                display: block;
            }
        }
        .name-continer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em 1em;
            h3{
                font-size: 25px;
                color: #222831;
                margin-bottom: 0px !important;
                font-family: "Tajawal-Meduim";
                font-weight: bold;
            }
        }
        .desc-continer{
            padding: 0px 1em;
            p{
                font-size: 20px;
                color: #393e46;
                font-family: "Tajawal-Meduim";
            }
        }
    }
    .sale-btn-continer{
        padding: 10px 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a{
            // color: #252525;
        }
        button{
            padding: 1em 0px;
            width: 48%;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: #eee;
                font-size: 14px;
                margin: 0px 10px;
            }
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 480px){
    .product-continer{
        padding: 0px 2em;
    }
    .img-continer{
        img{
            width: 305px !important;
            height: 250px !important;
        }
    }
}
@media screen and (max-width: 460px){
    .img-continer{
        img{
            width: 238px;
            height: 200px;
        }
    }
}