.navbar-continer{
    .desc-navbar{
        background: #393e46;
        display: block;
        border-bottom-right-radius: 3px;
        height: 650px;
    }
    .mobile-navbar{
        display: block;
    }
        >div{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            >div{
                width: 100%;
            }
        }
        .logo-area{
            height: 100%;
            padding: 0px 4em;
            background: #393e46;
            display: flex;
            border-bottom: 1px solid #eeeeee60;
            i{
                font-size: 60px;
                margin: 20px auto 40px;
                color: #eeeeee;
            }
            .sala-area{
                i{
                    font-size: 20px;
                    position: absolute;
                    top: 65px;
                    right: 15px;
                    color: #eeeeee;
                }
                p{
                    position: absolute;
                    top: 65px;
                    right: 30px;
                    color: rgb(255, 116, 116);
                    font-weight: bold;
                    font-size: 22px;
                }
            }
        }
        .nav-list-area{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            padding: 2em 0em;
            margin: 0px;
            li{
                list-style-type: none;
                margin: 10px 0px;
                padding-left: 1em;
                i{
                    font-size: 20px;
                    margin: 0px 10px;
                    color: #eeeeee;
                }
                a{
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: "Tajawal-bold" !important;
                    color: #eeeeee;
                    &:hover{
                        text-decoration: underline;
                        color: #eeeeee90;
                    }
                }
            }
        }
        .mobile-navbar{
            background: #393e46;
            .logo-area-mobile{
                height: 100%;
                padding: 1em 1.5em;
                display: flex;
                i{
                    font-size: 45px;
                    color: #eee;
                }
            }
            .sala-area-mobile{
                padding: 1em;
                i{
                    position: absolute;
                    top: 27px;
                    right: 80px;
                    font-size: 22px;
                    color: #eee;
                }
                p{
                    position: absolute;
                    top: 11px;
                    right: 95px;
                    font-size: 20px;
                    font-weight: bold;
                    color: rgb(255, 116, 116);
                    font-weight: bold;
                }
            }
            .drawer-area-mobile{
                i{
                    font-size: 25px;
                    position: absolute;
                    right: 1em;
                    color: #eee;
                }
            }
        }
}

@media screen and (max-width: 760px){
    .navbar-continer{
        position: unset;;
    }
    .desc-navbar{
        display: none;
        height: auto !important;
    }
    .mobile-navbar{
        display: block;
    }
}