.footer-continer{
    background: #222831;
    padding: 0em 2em 1em;
    margin: 3em 0px 0px;    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo{
        font-size: 50px;
        color: #eee;
        margin: .9em 0px .5em;
    }
    .soical-media{
        padding: 0em 0px 2em;
        .icons{
            display: flex;
            i{
                font-size: 28px;
                margin: 0px 20px;
                color: #eee;
                &:hover{
                    cursor: pointer;
                    color: #eeeeee90;
                }
            }
        }
    }
    .links{
        .nav-list-area{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: row;
            margin: 0px;
            padding: 0em 0em 2em;
            li{
                list-style-type: none;
                margin: 10px 0px;
                padding-left: 1em;
                a{
                    text-decoration: none;
                    font-size: 20px;
                    font-weight: 600;
                    font-family: "Tajawal-bold" !important;
                    color: #eeeeee;
                    &:hover{
                        text-decoration: underline;
                        color: #eeeeee90;
                    }
                }
            }
        }
    }
    .copyrit-section{
        p{
            font-size: 16px;
            color: #eeeeee90;
        }
    }
}